fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
sqlalchemy
pydantic
pydantic[email]
scikit-learn
xgboost
pandas
python-dotenv
groq
email-validator
pymysql
cryptography
